extends layout.pug
block nameofpage
    h1
        ="Comments"
block content
    div(class = "onepost")
        a(href = "http://"+postDetails.url)=(postDetails.title)
        p(class = "onepostdetails")
            ="Created By: " + postDetails.username
            ="\n"
            ="Vote Score: " + postDetails.voteScore
    div(class= "leavecomment")
        form(action = "/replyThis/" + postid + "/0/")
            button(type = "submit" class = "leavecommentbutton")
                ="Leave Comment"
    ol(class = "commentsection")
        each val in comments
            li(class = "parentComment")
                =val.comment
            p(class = "commentAuthor")="Author: "+val.username
                a(href="/replyThis/"+postid+"/"+val.commentid class = "replyComment")="Reply"
            ol
                each subval in val.replies
                    li(class = "replyone")
                        =subval.comment
                    p(class = "commentAuthor")="Author: "+subval.username
                     a(href="/replyThis/"+postid+"/"+subval.commentid class = "replyComment")="Reply"
                    ol
                        each subsubval in subval.replies
                            li(class = "replytwo")
                                =subsubval.comment
                            p(class = "commentAuthor")="Author: "+subsubval.username