extends layout.pug
block title
  title Subreddit Posts
block nameofpage
    h1 subreddit: #{theTitle}
    p(class = "descriptiveness") #{theDescription}
block content
    form(action = "/createContent" method = post class = "leftalign")
          input(type="hidden" name="srID" value=theSrId)
          button(type = "submit" class = "postinsubreddit")
            ="Post in this Subreddit"
    ol(class = "postlist")
        each val in posts
            li(style = "font-size : 20px")
                a(href = "http://"+val.url)=(val.title)
                p(class = "commentLink")
                    a(href = "/fullpost/"+val.id)="Comments"
                ul(style = "font-size : 10px")
                    ="Created By: " + val.username
                    ="\n"
                    ="Vote Score: " + val.voteScore
                    form(action = "/vote" method = post)
                        input(type="hidden" name="vote" value="1")
                        input(type="hidden" name = "postID" value = val.id)
                        button(type = "submit", class = "votebutton")
                            ="+1"
                    form(action = "/vote" method = post)
                        input(type="hidden" name="vote" value="-1")
                        input(type="hidden" name = "postID" value = val.id)
                        button(type = "submit", class = "votebutton")
                            ="-1"